/* styles.css */
.navbar {
    background-color: white;
    padding: 5px 20px;
    height: auto;
    height: 100%;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .form-control {
    height: 30px;
  }
  
  .btn-outline-success {
    height: 30px;
  }
  